* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .phone-image img {
    height: 600px;
    margin-right: 30px;
  }
  
  .login-box {
    background: rgb(255, 255, 255);
    border: 1px solid #dddddd;
    padding: 40px;
    width: 350px;
    text-align: center;
  }
  
  .logo {
    font-family: 'Billabong', cursive;
    font-size: 45px;
    margin-bottom: 20px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin: 6px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .login-btn {
    background-color: #3897f0;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
    border-radius: 4px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .or-line {
    margin: 20px 0;
    font-size: 14px;
    color: #999;
  }
  
  .fb-login {
    background: none;
    border: none;
    color: #385185;
    font-weight: bold;
    cursor: pointer;
  }
  
  .forgot {
    display: block;
    margin-top: 12px;
    font-size: 12px;
    color: #00376b;
    text-decoration: none;
  }
  
  .signup {
    margin-top: 20px;
    font-size: 14px;
  }
  
  .get-app {
    margin-top: 20px;
  }
  
  .app-links img {
    height: 40px;
    margin: 5px;
  }
  